<p id="notice"><%= notice %></p>

<p>
  <b>Title</b>
  <%= @vacant.title %>
</p>

<p>
  <b>Description:</b>
  <%= @vacant.description %>
</p>

<p>
  <b>Date end:</b>
  <%= @vacant.date_end %>
</p>

<p>
  <b>Sector:</b>
  <%= @vacant.sector_id %>
</p>


<%= link_to 'Edit', edit_vacant_path(@vacant) %> |
<%= link_to 'Back', vacants_path %>
