<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %><br />
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :semester %><br />
    <%= f.text_field :semester %>
  </div>
   <div class="field">
    <%= f.label :university_id %><br />
    <%= f.select :university_id, @university %>
  </div>


 <%= select_tag :state_id, options_from_collection_for_select(@states,"id","name",@person.city.state.id), onchange: "load_cities(this)" %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br />
    <%= f.select :city_id, options_from_collection_for_select(@person.city.state.cities,"id","name",@person.city.id) %>
  </div>

  
   <div class="field">
    <%= f.label :course_id %><br />
    <%= f.select :course_id, @course %>
  </div>
   <!-- <div class="field">
    <%= f.label :state_id %><br />
    <%= f.select :state_id, @states %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br />
    <%= f.select :city_id, @city %>
  </div>
 -->  <div class="field">
      <%= label_tag :work %><br />
      <%= check_box_tag :work, true, @person.work %>
  </div>
  <div class="field">
    <%= f.label :video_conf %><br />
    <%= f.text_field :video_conf %>
  </div>
  <div class="field">
    <%= f.label :sector_id %><br />
    <%= f.select :sector_id, @sector %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :plain_password %><br />
    <%= f.password_field :plain_password %>
  </div>
    <div class="field">
    <%= f.label :born_at %><br />
    <%= f.date_select :born_at, start_year: Date.today.year-100, end_year: Date.today.year-15 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
