<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Mobile phone</th>
    <th>University</th>
    <th>Course</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.phone %></td>
    <td><%= person.mobile_phone %></td>
    <td><%= person.university_id %></td>
    <td><%= person.course_id %></td>
    <td><%= person.state_id %></td>
    <td><%= person.city_id %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
