<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>

<p>
  <b>Description:</b>
  <%= @skill.description %>
</p>

<p>
  <b>Sector:</b>
  <%= @skill.sector_id %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
