<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @university.name %>
</p>

<p>
  <b>State:</b>
  <%= @university.state_id %>
</p>

<p>
  <b>City:</b>
  <%= @university.city_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @university.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @university.address %>
</p>

<p>
  <b>District:</b>
  <%= @university.district %>
</p>

<p>
  <b>Zip code:</b>
  <%= @university.zip_code %>
</p>


<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
