- if @vacant.errors.any?
  #error_explanation
    %h2
      = pluralize(@vacant.errors.count, "error")
      prohibited this vacant from being saved:
    %ul
      - @vacant.errors.full_messages.each do |msg|
        %li= msg
.field
  = f.label :Titulo
  %br/
  = f.text_field :title
.field
  = f.label :Descrição
  %br/
  = f.text_field :description
.field
  = f.label :'Data para o termino'
  %br/
  = f.date_select :date_end
.field
  = f.label :Setor
  %br/
  = f.select :sector_id, @sector
.field
  = f.label :'Foto pessoal'
  %br
  = f.file_field :image
.actions
  = f.submit