%p#notice= notice
%p
  %b Titulo
  = @vacant.title
%p
  %b Descrição:
  = @vacant.description
%p
  %b Data para o termino:
  = @vacant.date_end
%p
  %b Setor:
  = @vacant.sector.name
= link_to 'Edit', edit_vacant_path(@vacant)
|