!!! html5
%html
  %title Projeto Curriculo
  =stylesheet_link_tag "application", :media=>"all"
  =javascript_include_tag "application"
  =csrf_meta_tags
  %header
  %body.admin

  -if session[:id].nil?
    .yieldAdm
      =yield
  -else
    .headerAdm
      Projeto Curriculum - Área administrativa
      |
      = link_to "Inscritos", "/admin/vacants/filled/" ,{class: 'btnFacebook'}
      |
    .menuAdm
      %h2
        Menu de cadastro
      = image_tag('LogoAdmin.png')

      %li= link_to "Inicial", "/admin/vacants/filled"

      %li= link_to "Usuários", "/admin/users"

      %li= link_to "Curriculo", "/admin/people"

      %li= link_to "Vagas", "/admin/vacants"

      %li= link_to "Perguntas", "/admin/essays"

      %li= link_to "Habilidades", "/admin/skills"

      %li= link_to "Nível", "/admin/levels"

      %li= link_to "Cursos", "/admin/courses"

    %p.notice=notice
    .yieldAdm
      =yield
    %footer

